[submodule "SimpleHttpRequest"]
	path = SimpleHttpRequest
	url = https://github.com/ivere27/SimpleHttpRequest.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "SimpleProcessSpawn"]
	path = SimpleProcessSpawn
	url = https://github.com/ivere27/SimpleProcessSpawn.git
